<div class="well well-sm gsp-collapse-menu" ng-controller="vgsp.menu.controller as menu">
    <div  class="collapse in"  id="gspMenu" collapse-options="{ horizontal: 'right' }">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"  class="active">
                <a href="#smoothing" aria-controls="profile" role="tab" data-toggle="tab" ng-click="menu.changeSmoothFunction(true)">
                    Distributed smoothing
                </a>
            </li>
            <li role="presentation">
                <a href="#filtering" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="menu.changeFilterFunction(true)">
                    Distributed regularization
                </a>
            </li>
            <li role="presentation">
                <a href="#enhancement" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="menu.changeToEnhancement(true)">
                    Enhancement
                </a>
            </li>
            <li role="presentation">
                <a href="#enhancement" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="menu.changeToEnhancement(true)">
                    Laplacian Filter (TODO)
                </a>
            </li>
            <li role="presentation">
                <a href="#mean" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="menu.changeToMean(true)">
                    Mean Filter
                </a>
            </li>
            <li role="presentation">
                <a href="#median" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="menu.changeToMedian(true)">
                    Median Filter
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="smoothing">
                <form name="smoothForm" class="well-lg form-group">
                    <label for="smooth_t">t:</label>
                    <input type="number" step="0.1" class="form-control" id="smooth_t"
                           ng-model="menu.smooth_t"
                           ng-change="menu.changeSmoothFunction(smoothForm.$valid)">
                </form>
                <div class="gsp-chart-wrapper">
                    <div class="gsp-chart-title"> Smooth function:
                        <span ng-include="'static/angulartemplates/smoothEquation.htm'"></span>
                    </div>
                    <function-chart class="gsp-chart"
                                    xvalues="menu.xvalues"
                                    yvalues="menu.yvalues">
                    </function-chart>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="filtering">
                <form name="filterForm" class="well-lg form-group">
                    <label for="filter_t">t:</label>
                    <input type="number" step="0.1" class="form-control" id="filter_t"
                           ng-model="menu.filter_t"
                           ng-change="menu.changeFilterFunction(filterForm.$valid)">
                </form>
                <div class="gsp-chart-wrapper">
                    <div class="gsp-chart-title"> Regularization function:
                        <span ng-include="'static/angulartemplates/filterEquation.htm'"></span>
                    </div>
                    <function-chart class="gsp-chart"
                                    xvalues="menu.xvalues"
                                    yvalues="menu.yvalues">
                    </function-chart>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="enhancement">
                <div class="gsp-chart-space"></div>
                <div class="gsp-chart-wrapper">
                    <div class="gsp-chart-title"> Enhancement function:
                        <span ng-include="'static/angulartemplates/enhancementEquation.htm'"></span>
                    </div>
                    <function-chart class="gsp-chart"
                                    xvalues="menu.xvalues"
                                    yvalues="menu.yvalues">
                    </function-chart>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="mean">
            </div>

            <div role="tabpanel" class="tab-pane" id="median">
            </div>

        </div>
    </div>
    <button class="btn btn-link "  data-toggle="collapse"
            href="#gspMenu" aria-expanded="true" aria-controls="gspMenu"
            ng-click="open=!open">
        <div ng-show="open"> <span class="glyphicon glyphicon-menu-left"></span>  </div>
        <div class="gsp-hide" ng-show="!open"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
    </button>
</div>