.gsp-phantom{
    height: 0;
    padding: 0px;
}
.gsp-collapse-menu{
    float: right;
    z-index: 2;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.gsp-main {
    position: absolute;
    z-index: -1;
}

.gsp-hide{
    margin-top: 10px;
}

.gsp-chart{
    fill: #333;
    padding: 0px;
    margin: 0px;
}

.gsp-chart-wrapper{
    position: relative;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 2px;
    padding: 6px;
}

.gsp-chart-title {
    border-bottom: 1px solid #777;
    color: #777;
    font-size: 14px;
    font-weight: 200;
    padding: 7px 10px 4px;
    margin-bottom: 4px;
}

.vis-node:hover{
    fill: #aaa;
    stroke: #aaa;
    stroke-width: 40px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text{
    fill: #ccc;
    font-size: 10px;
}

.line{
    fill: none;
    stroke: #D3449B;
    stroke-width: 1px;
}

.ng-dirty.ng-invalid { border:1px solid Red; }

.spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    z-index: 999;
    top: 40%;
    transform: translate(0, -50%);

    border-radius: 100%;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}