<!DOCTYPE html>
<html lang="en">
<head>
  │ <meta charset="UTF-8">
  │ <title>Visual GSP</title>
  │ <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  │ <link href="css/angular-collapse.css" rel="stylesheet" type="text/css">
  │ <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>Hello World!</h1>

<!-- JS -->
<script src="libs/jquery.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-resource.min.js"></script>
<script src="libs/angular-animate.min.js"></script>
<script src="libs/angular-collapse.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/d3.min.js"></script>

<!-- CUSTOM -->

</body>
</html>
